header{
    width: 100%;
    height: 215px;
	padding: 20px 0;
    position: relative;
    left: 0%;
    right: 0%;
    background: url(header.png);
	background-size: 100%;

}

.perfil{
	position: absolute;
	top: 160px;
	margin-left: 20px;
	margin-top: 34px;
	width: 120px;
	border-radius: 100px;
	display: inline-block;
}

.titulo{
	position: relative;
	left: 17%;
	top: 50px;
	font-style: normal;
	font-size: 40px;
	line-height: 40px;
	display: inline-block;
}

nav {
	position: absolute;
	top: 200px;
	right: 100px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: violet;
	text-decoration: underline;
}

/*css da página inicial*/

body {
    font-family: 'Montserrat', sans-serif;
	align-items: center;
}

body a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

body a:hover {
	color: violet;
	text-decoration: underline;
}

main {
	margin: 100px 100px;
}

main h2{
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
}

.apresentacao{
	width: 42%;
	padding-left: 10%;
	padding-bottom: 5%;
	display: inline-block;
	text-align: center;
}

.menulinks{
	width: 30%;
	padding-left: 5%;
	vertical-align: top;
	padding-bottom: 5%;
	display: inline-block;
}

.projetos{
	
	color: #FFFFFF;
	padding: 3em 0;
    background: black;
}

.projetosfront{
	
	color: #FFFFFF;
	padding: 3em 0;
    background: darkviolet;
}

.cursos{
	color: #FFFFFF;
	padding: 3em 0;
    background: linear-gradient(rgb(134, 134, 180), rgb(57, 107, 165));
}

.lista-cursos{
	width: 45%;
	padding-top: 5%;
	padding-left: 5%;
	display: inline-block;
	vertical-align: top;
}

.aluraimg{
	padding: 2%;
	width: 20%;
	opacity: 0.9;
}

.aluraimg:hover{
	opacity: 1;
}

footer {
	text-align: center;
	background: #000000;
	padding: 40px 0;
}

.copyright {
	color: #ffffff;
	font-size: 13px;
	margin: 20px 0 0;
}